<div class="container" ng-controller="InternDetailCtrl">
    <div class="row">
        <div class="col-md-3 col-md-offset-6 col-xs-4 col-xs-offset-4">
            <a href="#" ng-click="setActive()" ng-hide="isActive()" class="btn btn-default btn-lg btn-block">Set active</a>
        </div>
        <div class="col-md-3 col-xs-4">
            <a href="#" ng-click="delete()" class="btn btn-danger btn-lg btn-block">Delete intern</a>
        </div>
    </div>
    <div class="col-lg-9 col-lg-offset-1">
        <h1>{{intern.name.first}} {{intern.name.last}}</h1>

        <p class="lead">{{intern.brief_info}}</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Email</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <h5>{{intern.email}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Phone</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <h5>{{intern.phone}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Education</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <a ng-repeat="edu in intern.education" class="list-group-item">
                    <h4 class="list-group-item-heading">{{edu.school}}</h4>
                    <h5>{{edu.course}}</h5>
                    <h6>{{edu.degree}}</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Certificates</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <a ng-repeat="cert in intern.certificates" class="list-group-item">
                    <h4 class="list-group-item-heading">{{cert.title}}</h4>
                    <h6>{{cert.acquired}}</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Skills</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <span class="comma" ng-repeat="skill in intern.skills">{{skill}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Interests</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <span class="comma" ng-repeat="interest in intern.interests">{{interest}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Subscribtions</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <a ui-sref="companyDetail({id: '{{sub._id}}'})" ng-repeat="sub in subs" class="list-group-item">
                    <h4 class="list-group-item-heading">{{sub.title}}</h4>
                </a>
            </div>
        </div>
    </div>
</div>