<div class="container" ng-controller="InternPostCtrl">
    <div class="col-lg-9 col-lg-offset-1">
        <div class="alert alert-dismissible alert-success" ng-show="!!message">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{message}}</strong>
        </div>
        <form class="form-horizontal" ng-submit="postIntern()">
            <fieldset>
                <legend>{{pagetitle}}</legend>
                <div class="form-group">
                    <label for="firstName" class="col-lg-2 control-label">Firstname</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="firstName" placeholder="John" type="text" ng-model="first"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-lg-2 control-label">Lastname</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="lastName" placeholder="Reeves" type="text" ng-model="last"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="email" placeholder="example@web.com" type="text"
                               ng-model="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-lg-2 control-label">Phone</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="phone" placeholder="555 666 666" type="text" ng-model="phone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="brief" class="col-lg-2 control-label">Brief info</label>

                    <div class="col-lg-10">
                        <textarea class="form-control" rows="2" id="brief" ng-model="brief_info"></textarea>
                        <span class="help-block">write a short introduction text about yourself</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="skills" class="col-lg-2 control-label">Skills</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="skills" placeholder="Java, Python, MEAN" type="text"
                               ng-model="skills" required>
                        <span class="help-block">seperate skills by comma</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="interests" class="col-lg-2 control-label">Interests</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="interests" placeholder="Football, JustinBieber" type="text"
                               ng-model="interests" required>
                        <span class="help-block">seperate interests by comma</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Education</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="school" placeholder="Harvard University" ng-model="school"
                               type="text" required>

                        <div class="row">
                            <label for="course" class="col-lg-1 control-label">Course</label>

                            <div class="col-lg-8">
                                <input class="form-control" id="course" placeholder="Computer science" type="text"
                                       ng-model="course" required>
                            </div>
                            <label for="degree" class="col-lg-1 control-label">Degree</label>

                            <div class="col-lg-2">
                                <select class="form-control" id="degree" ng-model="degree">
                                    <option>Student</option>
                                    <option>Bachelor</option>
                                    <option>Master</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>