<div class="container">
    <div class="jumbotron">
        <h1>Welcome to InternshipDB</h1>

        <p>It is a place for aspiring developers to find an internship or place to start their professional carrier.</p>

        <p class="lead">Choose your path:</p>

        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="btn-group btn-group-justified">
                <a ui-sref="register({role : 'intern'})" class="btn btn-success">Find job</a>
                <a ui-sref="register({role : 'company'})" class="btn btn-success">Post job</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <h2>Latest News</h2>

            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

            <p>
                <small>This line of text is meant to be treated as fine print.</small>
            </p>
            <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>

            <p>The following snippet of text is <em>rendered as italicized text</em>.</p>

            <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
        </div>
        <div class="col-xs-5">
            <h2>Testimonials</h2>

            <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>

            <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

            <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>

            <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

            <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

            <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
</div>