<div class="container" ng-controller="CompanyListCtrl">
    <div class="jumbotron">
        <h1>{{pagetitle}}</h1>

        <p>This is the list of registered companies that provide vacancies.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- filter placeholder -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter by</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Keyword</label>

                        <div class="col-lg-10">
                            <input class="form-control" placeholder="keyword" type="text" ng-model="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="list-group">
                <a ui-sref="companyDetail({id: '{{company._id}}'})" class="list-group-item"
                   ng-repeat="company in companies | filter:search">
                    <h4 class="list-group-item-heading">{{company.title}}</h4>

                    <p>{{company.description}}</p>
                </a>
            </div>
        </div>
    </div>
</div>