<div class="container" ng-controller="CompanyDetailCtrl">
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-4">
            <a href="#" ng-click="setActive()" ng-hide="isActive()" class="btn btn-default btn-lg btn-block">Set active</a>
        </div>
        <div class="col-md-3 col-xs-4">
            <a href="#" ng-click="subscribe()" class="btn btn-success btn-lg btn-block">Subscribe</a>
        </div>
        <div class="col-md-3 col-xs-4">
            <a href="#" ng-click="delete()" class="btn btn-danger btn-lg btn-block">Delete company</a>
        </div>
    </div>
    <div class="col-lg-9 col-lg-offset-1">
        <h2>{{company.title}}</h2>

        <p class="lead">{{company.description}}. <a href="{{company.website}}">{{company.website}}</a></p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Vacancies</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <a ui-sref="vacancyDetail({id: '{{vacancy._id}}'})" class="list-group-item"
                   ng-repeat="vacancy in vacancies">
                    <h4 class="list-group-item-heading">{{vacancy.title}} <span class="badge badge-default"
                                                                                ng-show="vacancy.internship">internship</span>
                    </h4>

                    <p>{{vacancy.description}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Subscribers</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <a ui-sref="internDetail({id: '{{sub._id}}'})" class="list-group-item" ng-repeat="sub in subscribers">
                    <h4 class="list-group-item-heading">{{sub._id}}</h4>
                </a>
            </div>
        </div>
    </div>
</div>