<div class="container" ng-controller="CompanyPostCtrl">
    <div class="col-lg-9 col-lg-offset-1">
        <div class="alert alert-dismissible alert-success" ng-show="!!message">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{message}}</strong>
        </div>
        <form class="form-horizontal" ng-submit="postCompany()">
            <fieldset>
                <legend>{{pagetitle}}</legend>
                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Firstname</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="title" placeholder="Apple" type="text" ng-model="title"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website" class="col-lg-2 control-label">Lastname</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="website" placeholder="apple.com" type="text" ng-model="website"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Brief info</label>

                    <div class="col-lg-10">
                        <textarea class="form-control" rows="2" id="description" ng-model="description"></textarea>
                        <span class="help-block">write a short introduction text about company</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>