doctype html
html(ng-app='internDB')
    head
        meta(charset='utf-8')
        title InternDB
        link(rel='stylesheet', href='assets/bower_components/bootswatch-dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='assets/css/main.css')
    body
        nav.navbar.navbar-inverse
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#intern-nav-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(ui-sref='home') InternDB
                #intern-nav-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(ui-sref-active='active')
                            a(ui-sref='internList') Interns
                        li(ui-sref-active='active')
                            a(ui-sref='vacancyList') Vacancies
                        li(ui-sref-active='active')
                            a(ui-sref='companyList') Companies
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") POST
                                span.caret
                                ul.dropdown-menu(role="menu")
                                    li
                                        a(ui-sref='internPost') Post intern
                                    li
                                        a(ui-sref='vacancyPost') Post vacancy
                                    li
                                        a(ui-sref='companyPost') Post company
                    ul.nav.navbar-nav.navbar-right(ng-controller="AuthCtrl")
                        li.dropdown(ng-show="isAuth()")
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") TOKEN
                                span.caret
                                ul.dropdown-menu(role="menu")
                                    li
                                        a {{showToken()}}

                        li(ui-sref-active='active', ng-show="isAuth()")
                            a(href="#", , ng-click="logout()") Logout

        .container
                .alert.main-alert(class="alert-{{alert.type}}", ng-class="{'alert-hidden' : !alert.show}") {{alert.message}}

        .container
            .row
                .ui-view-container
                    ui-view



        script(src='assets/bower_components/jquery/dist/jquery.min.js')
        script(src='assets/bower_components/bootswatch-dist/js/bootstrap.min.js')
        // angular
        script(src='assets/bower_components/angular/angular.min.js')
        script(src='assets/bower_components/angular-animate/angular-animate.min.js')
        script(src='assets/bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='assets/bower_components/angular-local-storage/dist/angular-local-storage.min.js')
        // angular appConfig
        script(src='config/app.js')
        script(src='config/app.config.js')
        // authentication modeuls
        script(src='partials/auth/authToken.js')
        script(src='partials/auth/authCtrl.js')
        script(src='partials/auth/authIntercept.js')
        // intern modules
        script(src='partials/intern/internListCtrl.js')
        script(src='partials/intern/internPostCtrl.js')
        script(src='partials/intern/internDetailCtrl.js')
        script(src='partials/intern/scripts/internService.js')
        // vacancy modules
        script(src='partials/vacancy/vacancyListCtrl.js')
        script(src='partials/vacancy/vacancyPostCtrl.js')
        script(src='partials/vacancy/vacancyDetailCtrl.js')
        script(src='partials/vacancy/scripts/vacancyService.js')
        // company modules
        script(src='partials/company/companyListCtrl.js')
        script(src='partials/company/companyPostCtrl.js')
        script(src='partials/company/companyDetailCtrl.js')
        script(src='partials/company/scripts/companyService.js')
        // register modules
        script(src='partials/register/registerCtrl.js')
        script(src='partials/register/validateEquals.js')
        script(src='partials/register/scripts/registerService.js')
        // alert system
        script(src="partials/alert/alertService.js")