<div class="container" ng-controller="VacancyPostCtrl">
    <div class="col-lg-9 col-lg-offset-1">
        <div class="alert alert-dismissible alert-success" ng-show="!!message">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{message}}</strong>
        </div>
        <form class="form-horizontal" ng-submit="postVacancy()">
            <fieldset>
                <legend>{{pagetitle}}</legend>
                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Firstname</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="title" placeholder="iOS Developer" type="text" ng-model="title"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Brief info</label>

                    <div class="col-lg-10">
                        <textarea class="form-control" rows="2" id="description" ng-model="description"></textarea>
                        <span class="help-block">write a short description anout vacancy</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="internship" class="col-lg-2 control-label">Internship</label>

                    <div class="col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input id="internship" type="checkbox" ng-model="internship">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="requires" class="col-lg-2 control-label">Required skills</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="requires" placeholder="Java, Python, MEAN" type="text"
                               ng-model="requires" required>
                        <span class="help-block">seperate skills by comma</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fields" class="col-lg-2 control-label">Fields of study</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="fields" placeholder="iOS, Apple" type="text" ng-model="fields"
                               required>
                        <span class="help-block">seperate fields by comma</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>