<div class="container" ng-controller="VacancyDetailCtrl">
    <div class="row">
        <div class="col-md-3 col-md-offset-6 col-xs-4 col-xs-offset-4">
            <a href="#" ng-click="apply()" class="btn btn-success btn-lg btn-block">Apply</a>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="delete()" class="btn btn-danger btn-lg btn-block">Delete vacancy</a>
        </div>
    </div>
    <div class="col-lg-9 col-lg-offset-1">
        <h2>{{vacancy.title}}</h2>
        <h5 ng-show="!!vacancy.internship"><span class="label label-default">internship</span></h5>

        <p class="lead">{{vacancy.description}}</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Provided by</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <span class="comma">{{company.title}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Field</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <span class="comma" ng-repeat="field in vacancy.fields">{{field}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Required skills</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <span class="comma" ng-repeat="req in vacancy.requires">{{req}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <blockquote>
                <p>Applicants</p>
            </blockquote>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <a ui-sref="internDetail({id: '{{appl._id}}'})" ng-repeat="appl in applicants" class="list-group-item">
                    <h4 class="list-group-item-heading">{{appl._id}}</h4>
                </a>
            </div>
        </div>
    </div>
</div>