<div class="container" ng-controller="VacancyListCtrl">
    <div class="jumbotron">
        <h1>{{pagetitle}}</h1>

        <p>This is the list of vacancies.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- filter placeholder -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter by</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Keyword</label>

                        <div class="col-lg-10">
                            <input class="form-control" placeholder="keyword" type="text" ng-model="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="list-group">
                <a ui-sref="vacancyDetail({id: '{{vacancy._id}}'})" class="list-group-item"
                   ng-repeat="vacancy in vacancies | filter:search">
                    <h4 class="list-group-item-heading">{{vacancy.title}} <span class="badge badge-default"
                                                                                ng-show="vacancy.internship">internship</span>
                    </h4>

                    <p>{{vacancy.description}}</p>

                    <p><span class="label label-primary" style="margin-left: 2px" ng-repeat="field in vacancy.fields">{{field}}</span>
                    </p>

                    <p>
                        <span class="label label-success" style="margin-left: 2px" ng-repeat="req in vacancy.requires">{{req}}</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>