<div class="container">
    <div class="row" ng-controller="RegisterCtrl">
        <div class="col-md-8 col-md-offset-2">
            <form name="register" ng-submit="submit()" class="form-horizontal">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input name="email" class="form-control" placeholder="example@email.com" ng-model="email" type="email" required="" autofocus="">
                            <span class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input class="form-control" name="password" ng-model="password" placeholder="password" type="password" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password confirmation</label>
                        <div class="col-md-9">
                            <input class="form-control" name="confirm_password" ng-model="confirm_password" placeholder="confirm password" validate-equals='password' type="password" required="">
                            <span class="help-block" ng-show="register.confirm_password.$dirty && register.confirm_password.$invalid">please match the passwords.</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-3">
                            <button type="submit"  ng-disabled="register.$invalid" class="btn btn-lg btn-block btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>